<% if not @cities.nil? %>
	<% @cities.each do |key, array| %>
     <h1>City name: <%= array.name %> </h1>
     <p>
		It's <%= array.weather[:temperature] %>°F
		and it looks like <%= array.weather[:description] %>
	</p>
	<% end %>
<% else %>
   <h1>Empty city list please create one </h1>
<% end %>